APP_ENV=development
LOG_LEVEL=debug

GATEWAY_HTTP_PORT=8080
GATEWAY_WS_PORT=8081

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=realtime_game
MYSQL_USER=realtime_game
MYSQL_PASSWORD=change_me

KAFKA_BROKERS=127.0.0.1:9092
ETCD_ENDPOINTS=127.0.0.1:2379
